* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

td {
    text-align: center;
    background-color: grey;
    color: black;
}

.img_indice{
    margin: 20px;
}

.img_rapidgt{
    width: 560px ;
    height: 315px;
    margin-top: 200px;
}

.img_pluie {
    width: 560px ;
    height: 315px;
    margin-left: 60px;
    margin-top: 20px;
}

.tab_special{
    margin-top: 170px;
}

.fram_géchan{
    margin-left: 50px;
    margin-top: 230px;
}

.tab_heal{
    margin: 70px;
}

.skyfall{
    width: 560px ;
    height: 315px;
    margin-left: 80px;
}

.tab_div{
    margin-left: 30px;
    margin-top: 50px;
}

th {
    background-color: black;
    color: grey;
}

.tab_indice{
    margin-top: 100px;
}

.tab_arme{
    margin-left: 50px;
}

.paragraphe_code_secret{
    font-size: 120%;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family: cursive;
    text-decoration: underline;
}